@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  background: linear-gradient(242deg, #CECECE -0.11%, #413EFF -0.1%, #ECFF00 100.91%);
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.seeker {
  font-family:'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(85, 85, 85);

}

.card {
  background: rgba(217, 217, 217, 0.50);
  
}
.card img {
  filter: 
  drop-shadow(0px 0px 8px rgb(73, 72, 72));
  
}
.ph-name {
  font-family: 'Raleway';
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background: rgba(81, 0, 253, 0.69);
  color: #FFF;
}
.ph-weight {
  font-family: 'Raleway';
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #FFF;
}
.gallery-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.9375rem, 1fr));
  gap: 0.875rem;
  
  
}
.btn-pagination {
  font-family: 'raleway';
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: normal;
  transition: all .2s ease-in-out;
}
.btn-pagination:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px 1px rgb(219, 219, 219);
  background-color: #ff8800;
  color: #fff;
 
}
.btn-number {
  font-family: 'raleway';
  font-weight: 300;
}
.loading:hover path {
  fill: red;
}

.spin-charge {
  margin: 20px;
  width: 100px;
  height: 100px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  

